// Add any custom Sass & CSS here
.center {
	width: 100%;
	text-align: center;
}

a {
	text-align:center;
	margin: 2px

}

h1 {
	text-align:center;

}

img {
	padding: 20px
}

.detail {
	text-align:center;
}

.help_details{
	background-color:purple;

}

.movie_listing{
	width:100%;
	background-color:#787878;

	p{
		color:black;
	}

}