// Add any custom Sass & CSS here
.center {
	width: 100%;
	text-align: center;
}

a {
	text-align:center;
	margin: 2px

}

h1 {
	text-align:center;

}

img {
	padding: 20px
}

.detail {
	margin: auto;
    width: 50%;
    display: table;
}

.help_details{
    text-align:center;
    height: 300px;
	background-color:$purple;
	display: table-cell;


}

.movie_listing{
	width:100%;
	background-color:$gray;

	p{
		color:$black;
	}

}