

	<div class="detail">
		<div class="large-3 large-centered columns">

		<div class = "help_details"> 

		<div class ="row">

			    <a class="button" ng-click='next(myMovie.rank)'>Next</a>
			    <a class="button" ng-click='previous(myMovie.rank)'>Previous</a>
		</div>

		<div class ="row">
					<img ng-src="./data/images/{{params.id}}.jpg">

					<h2>{{myMovie.title}}</h2>
					<h3>Rank: {{myMovie.rank}}</h3>
					<p>{{myMovie.awards}} </p>
					<p>Released: {{myMovie.released}} </p>
					<p>Plot: {{myMovie.plot}}</p>
				</div>
		</div>
	</div>

	</div>
