
<div class="center">

  <div class ="row"  style="margin-bottom: 10px; display: inline-block;">
    <div class="small-11 small-centered columns">
      <a class="button" ng-repeat="item in genres" ng-click="filterMovies(this.item)"> {{item}} </a> 
    </div>
  </div>  

  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" >
    <a href="#/details/{{movie.imdbID}}" class="thumb" ng-repeat="movie in currMovies">
      <img ng-src="./data/images/{{movie.imdbID}}.jpg" alt="{{movie.title}}">
    </a>
  </ul>

</div>

